{% extends 'index.html' %}

{% block body %}
<p>Welcome to Geometry!</p>

<form onsubmit="return false;">
    <input type="number" id="numberInput" oninput="updateValue()" value="3">
    <input type="number" id="numberInput" oninput="updateValue()" value="4">
</form>

<p>You entered: <span id="displayValue"></span></p>

<script>
    async function updateValue() {
        let inputs = document.querySelectorAll('input[id="numberInput"]');
        let numbers = Array.from(inputs).map(input => input.value);

        if (numbers.length === 0) return; // Prevent sending empty requests


        // Send the input to Flask and wait for response
        let response = await fetch('/calculate', {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ numbers: numbers })
        });

        let data = await response.json();  // Get response from Flask
        console.log(data)
        document.getElementById("displayValue").textContent = data.result.join(", ");
    }
    document.getElementById("numberInput").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
        }
    });
</script>

{% endblock %}
