{% extends 'index.html' %}

{% block body %}
<p>Welcome to Geometry!</p>

<form onsubmit="return false;">
    <input type="number" id="geoInput" data-order="2" oninput="updateValue()" value="3">
    <input type="number" id="geoInput" data-order="1" oninput="updateValue()" value="4">
    <input type="number" id="loadsInput" data-order="3" oninput="updateValue()" value="4">
</form>

<p>You entered: <span id="displayValueGeo"></span></p>
<p>You entered: <span id="displayValueLoads"></span></p>

{% endblock %}
